<IfModule mod_rewrite.c>
    RewriteEngine On

    # Check if the request is a direct file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route all other requests to index.php
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>
