Options +FollowSymLinks -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f 

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

#DIRETRIZES DE SEGURANÇA PARA ACESSO APENAS DE PESSOAL AUTORIZADO
#AuthType Basic
#AuthName "Informe sua credencial de Desenvolvedor!"
#AuthUserFile C:\xampp\apache\conf\htpasswd
#Require valid-user